.post-card {
	display: flex;
	flex-direction: column;
	height: 100%;

	&__image {
		padding-bottom: 20px;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	&__image-wrap {
		height: 60%;
	}

	&__date {
		margin-bottom: 2px;
	}

	&__heading {
		margin-bottom: 10px;
	}

	&__excerpt {
		margin-bottom: 24px;
	}

	&__lists {
		margin-top: auto;
	}
}
