.post-card {
	&__image {
		margin-bottom: 20px;
		min-height: 217px;
		object-fit: cover;
	}

	&__date {
		margin-bottom: 2px;
	}

	&__heading {
		margin-bottom: 10px;
	}

	&__excerpt {
		margin-bottom: 22px;
	}
}
