@import '~swiper/swiper.scss';

$block-carousel: (
	pagination: (
		fontSize: 18px,
		fontWeight: bold,
	),
	button: (
		size: 48px,
		transition: 0.5s opacity ease-out 0.5s transform ease-out,
		hoverScale: 1.1,
		disabledOpacity: 0.2,
		margin: 0 23px,
	)
);

.block-carousel {
	&__item {
		flex-shrink: 0;
		width: 100%;
		transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;
		display: flex;

		&:not(.swiper-slide-active) {
			opacity: 0.3;
		}
	}

	&__item-inner {
		align-items: center;
		display: flex;
		width: 100%;
		justify-content: center;
	}

	// .block-image__image {
	// 	margin: 0 auto;
	// }

	.swiper-wrapper {
		cursor: grab;
	}

	&__control-container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 25px 12px;
	}

	&__icon {
		cursor: pointer;
		height: map-get-deep($block-carousel, button, size);
		width: map-get-deep($block-carousel, button, size);
		transition: map-get-deep($block-carousel, button, transition);

		&--next {
			margin: map-get-deep($block-carousel, button, margin);
		}

		&:hover {
			transform: scale(map-get-deep($block-carousel, button, hoverScale));
		}

		&:disabled {
			opacity: map-get-deep($block-carousel, button, disabledOpacity);
			pointer-events: none;
		}
	}

	&__pagination {
		@extend %paragraph-reset;
		font-size: map-get-deep($block-carousel, pagination, fontSize);
		font-weight: map-get-deep($block-carousel, pagination, fontWeight);
	}
}
