@import '~swiper/swiper.scss';

.block-carousel {
	&__item {
		flex-shrink: 0;
		width: 100%;
		transition-property: transform;
		display: flex;
	}

	&__item-inner {
		align-items: center;
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.block-image__image {
		margin: 0 auto;
	}

	.swiper-wrapper {
		cursor: grab;
	}

	.js-block-carousel-prev-arrow, .js-block-carousel-next-arrow {
		cursor: pointer;
		height: 48px;
		width: 48px;
		background-color: #eee;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
