.image {
	max-width: 100%;
	width: auto;
	height: auto;
	display: block;
	object-fit: contain;

	&--bg {
		@extend %bg-image;
		height: 100%;
		width: 100%;
		padding-bottom: 56%;
	}
}

.image-wrap {
	display: flex;
	flex-direction: column;

	&__align {
		@include flex-horizontal-align-modifiers;
	}
}
