/*
Some default colors are defined in eightshift-frontend-libs as defaults.
If you want to override them just define them with a new value here.

All variables are available here:
https://github.com/infinum/eightshift-frontend-libs/blob/develop/styles/scss/_colors.scss
*/

$base-primary-color: #FF86D6;

$base-text-muted-color: #999999;
$base-aluminum-color: #EAEAEA;
$base-white-color: #FFFFFF;