$footer: (
	height: auto,
	site-padding: global-settings(gutters, default),
	site-container: global-settings(containers, default),
	colors: (
		background: global-settings(colors, white),
	),
);

.footer {
	$this: &;
	padding: 40px map-get-strict($footer, site-padding);
	top: 0;
	background: map-get-deep($footer, colors, background);
	height: map-get-strict($footer, height);
	width: 100%;
	position: relative;

	&__wrap {
		max-width: map-get-strict($footer, site-container);
		margin: 0 auto;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__column {
		flex: 1 0 auto;
		align-items: center;
		display: flex;

		&--left {
			justify-content: flex-start;
		}

		&--center {
			text-align: center;
			justify-content: center;
		}

		&--right {
			text-align: right;
			justify-content: flex-end;

			.copyright {
				color: $base-gray-color;
				font-weight: 600;
			}
		}
	}

	&__logo {
		margin-right: 15px;

		.logo {
			width: auto;
		}

		img {
			height: 39px;
		}
	}

	&__menu {
		a {
			color: global-settings(colors, primary);
			font-weight: 600;
		}

		.menu-horizontal__item--current-menu-item a {
			color: $base-gray-color;
		}

	}
}
